[data-theme="light"] {
    --color-bg: #ffffff;
    --color-fg: #000000;
}

[data-theme="dark"] {
    --color-bg: #000000;
    --color-fg: #ffffff;
}

* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg);
    color: var(--color-fg);
}